{% extends "layout.njk" %}

{% block content %}



        <div id="wrapper">
            <img src="https://media.licdn.com/dms/image/C510BAQFHYedTI-oyWA/company-logo_200_200/0?e=2159024400&v=beta&t=yvPIbO_CuJzE-rPppYVY4VYuxkisOzn0d_Fwk1GpA7c" alt="Pedro Lana">
            <h1>Rocketseat</h1>
            <h2>Educação à distância</h2>
            <p>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível. Venha para a <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a></p>
        </div>


{% endblock %}