{% extends "layout.njk" %}

{% block content %}



        <div id="wrapper">
            <img src="{{ data.avatar_url }}" alt="Pedro Lana">
            <h1>{{ data.name }}</h1>
            <h2>{{ data.role }}</h2>
            <p>{{ data.description }}</p>
        </div>


{% endblock %}