<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        {% block head %}
        <title>Rocketseat Launcher</title>
        {% endblock %}
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/portifolio">Videos</a>
            </div>
        </header>

        {% block content %}

        {% endblock %}

        <footer>
            <div id="links-footer" class="links">
            {% for link in data.links %}
                <a href="{{ link.url }}" target="_blank"> {{ link.name }} </a>

            {% endfor %}
            </div>
        </footer>
    </body>
</html>