{% extends "layout.njk" %}

    {% block content %}

         <div class="erro">
            <h1>Página não encontrada ou inexistente.</h1>
            <h2>Caso necessário, entrar em contato com a equipe.<h2>
            <img src="/img/error400.jpg" alt="error400">

         </div>
    {% endblock %}