{% extends "layout.njk" %}

{% block head %}
<title>Portifolio-RocketSeat</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}

        <div id="wrapper">
            <h1>Aulas</h1>
        </div>

        <section class="cards">
        {% for item in items%}   
        
            <div id="{{item.id}}" class="card">
                <div class="card__image-container">
                    <img src="https://img.youtube.com/vi/{{item.id}}/mqdefault.jpg" alt="Imagem de {{item.title}}">
                </div>
                <div class="card_content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card__info">
                    <p>{{item.duration}}</p>
                    <p class="card__price">{{item.price}}</p>
                </div>
            </div>
         
        {% endfor %}
        </section>
            
       

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>
                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <script src="scripts.js"></script>

{% endblock %}