{% extends "layout.njk" %}

{% block head %}
<title>{{item.title}}</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}

        <div id="wrapper" class="video">
            <h1>{{item.title}}</h1>
        </div>

        <section class="video">
                
            <div id="{{item.id}}" class="card">
                <div class="card__video-container">
                    <iframe src="https://www.youtube.com/embed/{{item.id}}" frameborder="0"></iframe>
                </div>
                <div class="card_content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card__info">
                    <p>{{item.duration}}</p>
                    <p class="card__price">{{item.price}}</p>
                </div>
            </div>
             
        </section>


{% endblock %}